// Responsive screen
$screen-pc: 1200px !default;
$screen-md-pc: 1024px !default;
$screen-tablet: 992px !default;
$screen-mobile: 768px !default;
$screen-xs-mobile: 375px !default;

// Color
$primary-color: #439aff;
$black-color: #000;
$primary-color-dark: #234FFF;
$color-blue-lightest: #fafcff;
$color-gray-lightest: #f0f3f7;
$color-darker: #2e3e48;
$color-dark-lightest: #6c777e;
$color-brand: #abb2b6;
$color-burger: #6c777e;

$header-border-color: #e0e0e0;
$border-color: #e3e3e7;

// Font
$base-font-family: 'Roboto', sans-serif;

// Break point
$size-sm: 768px;
$size-md: 991px;
$size-lg: 1024px;

// Font sizes
$html-font-size: 20px;
$html-line-height: 1.5;
$font-size: .7rem;
$font-size-xs: .5rem;
$font-size-sm: .6rem;
$font-size-lg: .8rem;
$line-height: 1rem;

