<div class="auth-footer text-center">
  <a href="<%= help_url %>">Help</a>
  <a href="mailto:1pac.info@1pac.vn">Contact Us</a>
  <a href="<%= terms_url %>">Terms</a>
  <a href="<%= privacy_url %>">Privacy</a>
</div>
