<% btn_clear_opened = btn_clear_opened || false %>
<div class="toast toast-<%= type %>">
  <% if btn_clear_opened %>
  <button class="btn btn-clear float-right"></button>
  <% end %>
  <%= message %>
</div>
