<div class="trial bg-linear-blue">
  <div class="trial-content">
    <h2 class="trial-title"><%= t('.title') %></h2>
    <%= link_to t('.get_started'), get_started_url, class: 'btn btn-get-started navbar-link' %>
  </div>
</div>
