<div class="trial bg-linear-blue">
  <div class="trial-content">
    <h2 class="trial-title">Free trial up to 30 days sign up now !</h2>
    <%= link_to 'Get Started', get_started_url, class: 'btn btn-get-started navbar-link' %>
  </div>
</div>
