<header id="index-nav" class="nav">
  <div class="container">
    <div class="navbar">
      <div class="navbar-section navbar-control">
        <%= link_to root_path do %>
          <div class="navbar-logo"></div>
        <% end %>
        <button class="btn menu-burger">
          <svg class="burger" fill="currentColor" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M0,17 L24,17 L24,20 L0,20 L0,17 Z M0,10 L24,10 L24,13 L0,13 L0,10 Z M4,3 L24,3 L24,6 L4,6 L4,3 Z" id="path-1"></path></svg>
          <svg class="close" fill="currentColor" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M13.7864195,12.0000088 L21.8436498,3.94272175 C22.3369142,3.44940985 22.3369142,2.64962958 21.8436498,2.15636456 C21.3503385,1.66305266 20.5505123,1.66305266 20.0572479,2.15636456 L11.9999707,10.2136516 L3.78635501,2 C3.29304372,1.5066881 2.49326442,1.5066881 2,2 C1.50673558,2.4933119 1.5066887,3.29309217 2,3.78635719 L10.2136157,12.0000088 L2,20.2136428 C1.5066887,20.7069547 1.5066887,21.506735 2,22 C2.4933113,22.4933119 3.29309059,22.493265 3.78635501,22 L11.9999707,13.786366 L20.2135981,22 C20.7069094,22.4933119 21.5067356,22.493265 22,22 C22.4932644,21.5066881 22.4932644,20.7069078 22,20.2136428 L13.7864195,12.0000088 Z" id="path-5"></path></svg>
        </button>
      </div>
      <div class="navbar-section navbar-menu">
        <div class="signin-form">
          <span class="close-form float-right">
            <svg class="close" fill="#6c777e" width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M13.7864195,12.0000088 L21.8436498,3.94272175 C22.3369142,3.44940985 22.3369142,2.64962958 21.8436498,2.15636456 C21.3503385,1.66305266 20.5505123,1.66305266 20.0572479,2.15636456 L11.9999707,10.2136516 L3.78635501,2 C3.29304372,1.5066881 2.49326442,1.5066881 2,2 C1.50673558,2.4933119 1.5066887,3.29309217 2,3.78635719 L10.2136157,12.0000088 L2,20.2136428 C1.5066887,20.7069547 1.5066887,21.506735 2,22 C2.4933113,22.4933119 3.29309059,22.493265 3.78635501,22 L11.9999707,13.786366 L20.2135981,22 C20.7069094,22.4933119 21.5067356,22.493265 22,22 C22.4932644,21.5066881 22.4932644,20.7069078 22,20.2136428 L13.7864195,12.0000088 Z" id="path-5"></path></svg>
          </span>
          <p class="text-bold">Please enter your company's namespace</p>
          <div class="input-group">
            <input type="text" placeholder="your-company-namespace" class="form-input namespace-input">
            <span>.punch.com</span>
            <button class="btn btn-primary btn-submit">Go</button>
          </div>
          <span class="text-error mt-8">Company namespace is not found</span>
        </div>
        <ul class="navbar-utilities">
          <li><%= link_to "Features", features_path, class: "navbar-link" %></li>
          <li><%= link_to "Help", help_path, class: "navbar-link" %></li>
          <li><a href="mailto:1pac.info@1pac.vn" class="navbar-link">Contact us</a></li>
        </ul>
        <button class="btn btn-signin navbar-link">Sign In</button>
      </div>
    </div>
  </div>
</header>
