.accordion {
  .accordion-header {
    border: .05rem solid $border-color;
    border-radius: .15rem;
    line-height: 1rem;
    font-size: .7rem;
    padding: .35rem .4rem;
    position: relative;
    outline: none;

    svg {
      color: $primary-color;
      position: absolute;
      right: .8rem;
      top: .5rem;
    }

    &:hover,
    &:focus {
      border-color: $border-color-dark;
    }
  }

  input:checked + label {
    border: .05rem solid $border-color-dark;
  }

  .accordion-body {

    .menu {
      border-radius: $border-radius;
      border: .05rem solid $border-color-dark;
      margin-top: .4rem;
      padding: 0;
      transform: none;

      .menu-item > a {
        border-radius: 0;
        padding: .8rem;

        &:hover,
        &:focus {
          background: $primary-color;
          color: $light-color;
        }
      }
    }
  }
}
