.app-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 2.4rem;
}

body {
  background-color: $gray-color-lightest;
  color: $dark-color;
  min-width: 64rem;
  overflow-x: visible;
}

.main {
  background: $gray-color-lightest;
  padding: .8rem 2rem 0;
  margin-left: 10rem;
  width: 100%;
  min-height: 100vh;
}

svg {
  width: .8rem;
  height: .8rem;
  color: $gray-color;
  vertical-align: text-bottom;
}

.footer {
  margin-top: 1rem;
  font-size: .6rem;
  padding: 1.5rem 0;
  a {
    color: $dark-color;
  }
}

.container {
  &.grid-xl {
    width: 1200px;
  }
}
