.app-container {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 2.4rem;
}

body {
  background-color: $gray-color-lightest;
  color: $dark-color;
  overflow-x: visible;
  @media (max-width: $size-lg) {
    width: $control-width-lg;
  }
}

main {
  min-height: calc(100vh - 11.3rem);
}

svg {
  color: $gray-color;
  height: 0.8rem;
  vertical-align: text-bottom;
  width: 0.8rem;
}

.footer {
  font-size: 0.6rem;
  margin-top: 1rem;
  padding: 1.5rem 0;

  a {
    color: $dark-color;
  }

  .footer-items {
    align-items: center;
    display: flex;
    justify-content: space-between;

    li {
      line-height: 1;
      vertical-align: middle;

      &:first-child {
        padding-left: 0;
      }
    }

    img {
      height: 32px;
    }

    span {
      padding-top: 10px;
    }
  }
}

a:focus {
  box-shadow: none;
}
