.box {
  @include shadow-variant(0.05rem);
  background-color: $light-color;
  border-radius: $border-radius;
  padding: 0.8rem;

  + .box {
    margin-top: 1rem;
  }

  &-setting {
    @include shadow-variant(0.05rem);
    background-color: $light-color;
    border-radius: $border-radius;
    padding: 1.2rem;
  }

  &.box-group {
    height: 8rem;
  }

  .box-header {
    height: 5rem;

    .box-title {
      cursor: pointer;
      line-height: 1;
      margin-bottom: 0.2rem;
      word-break: break-word;

      &:hover {
        color: $primary-color;
      }
    }

    .tile-content {
      padding-left: 0.6rem;
    }

    .group-avatar {
      width: 2.4rem;
    }

    .group-description {
      line-height: 1.2;
      margin-bottom: 0.2rem;
    }

    span {
      color: $gray-color;
    }
  }

  .box-content {
    margin-top: 1.7rem;

    &.box-content-flex {
      align-items: center;
      display: flex;
      flex: 0 0 auto;
      justify-content: space-between;

      span {
        vertical-align: middle;
      }
    }

    .box-content-img {
      .avatar {
        &:not(:first-child) {
          margin-left: 0.2rem;
        }
      }
    }
  }
}
