.box {
  @include shadow-variant(.05rem);
  padding: .8rem;
  background-color: $light-color;
  border-radius: $border-radius;

  &-setting {
    @include shadow-variant(.05rem);
    padding: 1.2rem;
    background-color: $light-color;
    border-radius: $border-radius;
  }

  &.box-group {
    height: 172px;
  }

  .box-header-flex,
  .box-content-flex {
    display: flex;
    justify-content: space-between;
    flex: 0 0 auto;
    align-items: center;
  }

  .box-header {
    &.box-header-flex {
      h2 {
        margin-bottom: 0;
        vertical-align: text-bottom;
      }
    }

    .box-title {
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
      + span { font-size: .8rem;
        color: $gray-color;
      }
    }

    .form-select {
      width: 200px;
    }
  }

  .box-content {
    margin-top: 2rem;

    &.box-content-flex {
      span {
        vertical-align: middle;
      }
    }
  }
}
