.box {
  @include shadow-variant(.05rem);
  padding: .8rem;
  background-color: $light-color;
  border-radius: $border-radius;

  .box-header {
    margin-bottom: 2rem;

    h2 {
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }

    h2 + span {
      font-size: .8rem;
      color: $gray-color;
    }
  }

  .box-content {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;

    span {
      vertical-align: middle;
    }
  }
}
