// Buttons
.btn {
  border: $border-width solid $gray-color;
  color: $gray-color-dark;
  height: 2rem;

  svg {
    color: $gray-color-dark;
    margin-right: .2rem;
  }

  &:focus {
    box-shadow: none;
  }

  &:focus,
  &:hover {
    border-color: $gray-color-dark;
    background: $bg-color-light;
    color: $gray-color-dark;
  }
  &:active,
  &.active {
    background: $bg-color-light;
    border-color: darken($gray-color, 50%);
    color: $gray-color-dark;
  }
  &[disabled],
  &:disabled,
  &.disabled {
    svg {
      color: $gray-color;
    }
  }

  // Button Primary
  &.btn-primary {
    svg {
      color: $light-color;
    }

    &.disabled {
      color: $gray-color;
      background-color: $gray-color-light;
      border: $gray-color-light;

      svg {
        color: $gray-color;
      }
    }
  }

  &.btn-success {
    svg {
      color: inherit;
    }
  }

  &.btn-info {
    @include button-variant($info-color);
  }

  &.btn-submit {
    margin-top: $unit-4;
  }
}
