// Buttons
.btn {
  border: $border-width solid $gray-color;
  color: $gray-color-dark;
  height: 2rem;
  line-height: 1.2rem;

  svg {
    color: $gray-color-dark;
    margin-right: 0.2rem;
  }

  &:focus {
    box-shadow: none;
  }

  &:focus,
  &:hover {
    background: $bg-color-light;
    border-color: $gray-color-dark;
    color: $gray-color-dark;
  }

  &:active,
  &.active {
    background: $bg-color-light;
    border-color: darken($gray-color, 50%);
    color: $gray-color-dark;
  }

  &[disabled],
  &:disabled,
  &.disabled {
    svg {
      color: $gray-color;
    }
  }

  // Button Primary
  &.btn-primary {
    svg {
      color: $light-color;
    }

    &.disabled {
      background-color: $gray-color-light;
      border: $gray-color-light;
      color: $gray-color;

      svg {
        color: $gray-color;
      }
    }
  }

  &.btn-success {
    svg {
      color: inherit;
    }
  }

  &.btn-info {
    @include button-variant($info-color);
  }

  &.btn-notice {
    @include button-variant($notice-color);
  }

  &.btn-submit {
    margin-top: $unit-4;
  }
}
