.calendar {
  border: 0;

  .calendar-header {
    background-color: $light-color;
  }

  .calendar-nav {
    padding: 0.8rem;
    background-color: $light-color;
    display: flex;
    justify-content: space-between;
  }

  .calendar-date {
    &:hover {
      cursor: pointer;
    }

    .date-item {
      &:hover {
        color: $gray-color-dark;
        border: $border-width solid transparent;
        background: transparent;
      }

      &.date-today {
        &:hover {
          border-color: $secondary-color-dark;
          color: $primary-color;
        }
      }
    }

    &.disabled .date-item.date-today {
      opacity: 1;
    }
  }
}
