.calendar {
  border: 0;

  .calendar-header {
    background-color: $light-color;
  }

  .calendar-nav {
    padding: .8rem;
    background-color: $light-color;
    display: flex;
    justify-content: space-between;
  }
}
