.color-block {
  height: 160px;
  width: 160px;
  padding: 16px;

  p {
    text-align: left;
    vertical-align: bottom;
    color: $light-color;

    &.dark { color: $dark-color; }
  }

  &.with-border {
    border: 0.05rem solid $dark-color;
  }
}

.bg-primary-color {
  background-color: $primary-color;
}

.bg-primary-color-dark {
  background-color: $primary-color-dark;
}

.bg-primary-color-darkest {
  background-color: $primary-color-darkest;
}

.bg-primary-color-light {
  background-color: $primary-color-light;
}

.bg-secondary-color {
  background-color: $secondary-color;
}

.bg-secondary-color-dark {
  background-color: $secondary-color-dark;
}

.bg-secondary-color-light {
  background-color: $secondary-color-light;
}

.bg-dark-color {
 background-color: $dark-color;
}

.bg-gray-color {
  background-color: $gray-color;
}

.bg-gray-color-dark {
  background-color: $gray-color-dark;
}

.bg-gray-color-light {
  background-color: $gray-color-light;
}

.bg-gray-color-lightest {
  background-color: $gray-color-lightest;
}
