.toolbar {
  .month-year-picker {
    display: inline-block;
    height: 2rem;
    position: relative;
    vertical-align: top;
    width: 8rem;

    .month-year-picker-control {
      background-color: $light-color;
      border: 0.05rem solid $gray-color;
      border-right: 0;
      height: 10.1rem;
      left: 0;
      padding: 0.5rem 0.3rem;
      position: absolute;
      top: 2.1rem;
      width: 4rem;
      z-index: 100;

      span {
        background-color: $gray-color-lightest;
        border: 1px solid $gray-color-lightest;
        border-radius: 0.2rem;
        color: $primary-color;
        cursor: pointer;
        display: inline-block;
        font-size: 0.65rem;
        margin-bottom: 0.4rem;
        padding: 0.15rem 0.6rem;

        &:hover,
        &.active {
          background-color: $primary-color;
          border: 1px solid $primary-color;
          color: #fff;
        }
      }
    }

    .vdp-datepicker__calendar {
      display: block !important;
      margin-left: 4rem;
      margin-top: 0.1rem;
    }

    .form-input {
      display: none;
    }
  }

  .month-year-picker-result {
    background: $light-color url('../assets/ico-calendar.svg') calc(100% - 0.4rem) center/0.8rem 0.8rem no-repeat;
    border: 0.05rem solid $gray-color;
    border-radius: 0.15rem;
    margin-right: 0.5rem;
    padding: 0.425rem 0.4rem;
  }
}

.datepicker {
  display: inline-block;
  vertical-align: top;

  .datepicker-input {
    background: url('../assets/ico-calendar.svg') no-repeat;
    background-position: 95% 50%;
    cursor: pointer;

    &[readonly] {
      background-color: $light-color;
    }
  }

  &-full-width {
    display: block;
    width: 100%;

    .datepicker-input {
      background-position: 98% 50%;
    }
  }
}

.datepicker-calendar {
  &.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
  &.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
  &.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
    border: 0;
    color: $primary-color;

    &.selected {
      border: 0;
      color: $primary-color;
    }
  }

  &.vdp-datepicker__calendar .cell.selected,
  &.vdp-datepicker__calendar .cell.selected.highlighted,
  &.vdp-datepicker__calendar .cell.selected:hover {
    background: inherit;
    color: $primary-color;
  }
}
