.form-label {
  font-weight: 600;
}

.form-input-hint {
  margin-bottom: 0;
}

.form-input {
  &.daterange-picker {
    background-color: $light-color;
    background-image: url('../assets/ico-calendar.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - .4rem) 50%;
    background-size: .8rem .8rem;
  }
}

.vdp-datepicker.datepicker .datepicker-input {
  background: $light-color url('../assets/ico-calendar.svg') calc(100% - .4rem) center / .8rem .8rem no-repeat;
}

input[type=search], .v-select {
  background: $light-color url('../assets/ico-search.svg') calc(100% - .4rem) center / .8rem .8rem  no-repeat;
}

.form-select:not([multiple]):not([size]) {
  background: $light-color url('../assets/ico-down.svg') calc(100% - .4rem) center / .8rem .8rem  no-repeat;
}

.v-select {
  width: 100%;
  color: $dark-color;
  border-radius: $border-radius;

  .dropdown-toggle {
    border: $border-width solid $gray-color;
  }

  &:focus, &.open {
    .dropdown-toggle {
      border-color: $gray-color-dark;
    }

    input[type=search] {
      height: 2rem;
    }
  }

  .tile-content {
    font-size: $font-size-sm;
  }

  .open-indicator {
    display: none;
  }
}

.form-input,
.form-select,
.form-control,
.v-select input[type=search],
.dropdown-toggle {
  height: 2rem;

  &:focus {
    border-color: $gray-color-dark;
    box-shadow: none;
  }

  &::placeholder {
    color: $gray-color;
  }
}
