.form-label-group {
  display: flex;
  justify-content: space-between;
}

.form-group {

  &.form-group-search,
  &.form-group-select,
  &.form-date-picker {
    position: relative;

    svg {
      height: .8rem;
      width: .8rem;
      position: absolute;
      top: .5rem;
      right: .8rem;
    }
  }

  &.form-date-picker,
  &.form-group-select {
    svg {
      color: $primary-color;
    }
  }

  &.form-date-picker {
    .form-input {
      padding-right: 2rem;
    }
  }

  &.form-group-select {
    .form-select:not([multiple]):not([size]) {
      background: unset;
    }
  }
}
