.list-inline {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    padding: 0 0.4rem;

    &:last-child {
      padding-right: 0;
    }
  }
}

.list-pending-requests {
  margin: 0;
}
