.sidebar {
  flex: none;
  height: 100%;
  width: 10rem;
  position: fixed;
}

.nav {
  padding: 0 .4rem;

  .nav-item {
    padding: .4rem;
    border-radius: $border-radius;

    svg {
      margin-right: .2rem;
    }

    &:hover,
    &.active {
      svg,
      > span {
        color: $primary-color;
      }
    }
  }
}
