.header {
  background-color: $light-color;
}

.navbar {
  height: auto;
  padding: 0.4rem 0;

  .navbar-brand {
    line-height: 1;

    img {
      height: 1.6rem;
      vertical-align: middle;
    }
  }

  .dropdown {
    padding: 0.4rem 0;

    .dropdown-toggle {
      svg {
        color: $dark-color;
        height: 0.6rem;
        transition: color 0.1s ease-in-out;
        width: 0.6rem;
      }

      &:hover {
        svg {
          color: $primary-color;
        }
      }
    }

    &.active .notification-dropdown {
      display: block;
    }

    .menu {
      left: initial;
      overflow-y: unset;
      right: 0;
    }
  }

  .notification {
    cursor: pointer;

    svg {
      color: $dark-color;
      height: 1rem;
      width: 1rem;
    }

    &.badge[data-badge]::after {
      background-color: $error-color;
      box-shadow: none;
      font-size: 0.6rem;
      height: 0.8rem;
      position: absolute;
      right: 0.2rem;
      top: 0;
      transform: translate(0.7rem, -0.3rem);
      width: auto;
    }
  }

  a {
    color: $dark-color;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.1s ease-in-out;

    &:focus,
    &.active,
    &:hover {
      color: $primary-color;
    }
  }

  .menu .menu-item > a {
    font-size: $font-size-sm;

    &:focus,
    &:hover,
    &:active,
    &.active {
      background-color: inherit;
    }
  }
}

.lang-select {
  .header {
    border-bottom: 0.05rem solid $border-color;
    margin-bottom: 0.4rem;
    position: relative;

    p {
      font-size: 0.6rem;
      font-weight: bold;
      line-height: 1;
      margin: 0;
      padding-bottom: 0.5rem;
      text-align: center;
    }

    .btn-back {
      color: $dark-color;
      left: 0.8rem;
      position: absolute;
      top: -0.15rem;

      &:hover {
        color: $primary-color;
      }

      &::before {
        content: '\2190';
      }
    }
  }

  &.menu {
    padding-left: 0;
    padding-right: 0;

    .menu-item {
      padding-left: 0.8rem;
      padding-right: 0.8rem;
    }
  }
}
