.header {
  background-color: $secondary-color;
  position: fixed;
  width: 100%;
  z-index: $zindex-4;
}

.navbar {
  height: 2.4rem;
  padding: .4rem 0;

  .navbar-brand {
    line-height: 1;
    img {
      height: 1.6rem;
      vertical-align: middle;
    }
  }

  .dropdown {
    padding: .4rem 0;
    .menu {
      box-shadow: 0 .05rem .25rem 0 rgba(0, 0, 0, .1);
      border-radius: 0;
      color: $gray-color-dark;
      left: auto;
      right: 0;
    }

    .panel.menu {
      padding: 0 .4rem;
      right: -.8rem;
      max-height: 100vh;
    }
  }

  .announcement {
    svg {
      color: $dark-color;
      width: 1rem;
      height: 1rem;
    }

    &.badge[data-badge]::after {
      top: 0;
      right: 0;
      position: absolute;
      background-color: $error-color;
      box-shadow: none;
      transform: translate(.7rem, -.3rem);
    }
  }

  .announcement-items {
    margin: 0;
  }

  .announcement-item {
    border-bottom: .05rem solid $gray-color-light;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: .4rem 0;

    p {
      font-size: .7rem;
      margin-bottom: 0;
    }

    &:hover {
      color: $primary-color;
    }
  }

  a {
    color: $dark-color;
    text-decoration: none;
    cursor: pointer;
    transition: color .1s ease-in-out;

    &.active,
    &:hover {
      color: $primary-color;
    }
  }

  .panel {
    @include shadow-variant(.05rem);
    width: 16rem;

    .panel-header {
      padding: .3rem;
      border-bottom: .05rem solid $gray-color-light;
    }

    .panel-body {
      padding: 0 .8rem .8rem .8rem;
      font-size: .7rem;
    }

    .panel-footer {
      border-top: .05rem solid $gray-color-light;
      padding: .2rem;

      a {
        font-size: .7rem;
      }
    }
  }
}
