.sidebar {
  flex: none;
  height: 100%;
  position: fixed;
  width: 10rem;
}

.nav {
  padding: 0 0.4rem;

  .nav-item {
    border-radius: $border-radius;
    padding: 0.4rem;

    svg {
      margin-right: 0.2rem;
    }

    &:hover,
    &.active {
      svg,
      > span {
        color: $primary-color;
      }
    }
  }
}
