.notifications {
  &.notification-dropdown {
    display: none;
    position: absolute;
    z-index: $zindex-1;
    top: 48px;
    right: -72px;
    width: 400px;
    font-size: .6rem;
    animation: slide-down .15s ease 1;
  }

  &.arrow-box {
    &::before {
      right: 3.7rem;
    }

    &::after {
      right: 3.2rem;
    }
  }

  .notification-header {
    padding: .4rem .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $border-color;
  }

  &.box {
    padding: 0;
  }

  h4 {
    margin: 0;
    font-size: $font-size-sm;
  }

  ul {
    margin: 0;
    list-style: none;
    max-height: calc(100vh - 5.8rem);
    overflow-y: scroll;
  }

  p {
    margin: 0;
  }

  li {
    margin: 0;
    padding: .4rem .8rem;
    border-bottom: 1px solid $border-color;
    cursor: pointer;

    &.px-0 {
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: $bg-color;
    }
  }

  .no-notification-msg {
    padding: .8rem;
    border-bottom: 1px solid $border-color;
  }
}
