.pagination {
  justify-content: center;

  .page-item {
    &.active,
    &:hover {
      svg {
        color: $primary-color;
      }
    }

    a {
      width: 1.8rem;
      text-align: center;

      &:focus {
        box-shadow: none;
      }
    }
  }

  svg {
    cursor: pointer;
  }
}
