.setting-sidebar {
  @include shadow-variant(0.05rem);
  background-color: $light-color;
  border-radius: $border-radius;
  list-style: none;

  margin: 0;

  li {
    align-items: center;
    color: $gray-color;
    cursor: pointer;
    display: flex;
    margin-top: 0;
    padding: 0.4rem 0.8rem;
    text-decoration: none;

    &:not(:first-child) {
      border-top: 0.05rem solid $border-color;
    }

    &:hover,
    &.active {
      color: $primary-color;

      svg {
        color: $primary-color;
      }
    }

    &.active {
      border-right: 0.2rem solid $primary-color;
    }

    svg {
      height: 1.2rem;
      margin-right: 0.8rem;
      width: 1.2rem;
    }
  }
}

.setting-form {
  max-width: 700px;
}
