.setting-sidebar {
  margin: 0;
  list-style: none;
  font-size: $font-size-lg;
  a {
    color: $dark-color;

    &.active {
      color: $primary-color;
      text-decoration: none;
    }
  }
}

.setting-form {
  max-width: 700px;
}
