// Tables
.table {
  font-size: .7rem;

  svg {
    width: .7rem;
    height: .7rem;
    color: $gray-color-dark;
  }

  .form-checkbox {
    padding: 0;
  }

  .btn {
    font-size: .7rem;
  }

  &.no-border {
    td,
    th {
      border: 0;
    }
  }
}
