// Tables
.table {
  font-size: .7rem;
  border-radius: $border-radius;

  .w-cell-user {
    width: 140px;
  }

  .w-cell-date {
    width: 70px;
  }

  .w-cell-admin {
    width: 100px;
  }

  .w-cell-reason {
    width: 180px;
  }

  .w-cell-action {
    width: 92px;
  }

  &.table-scroll {
    padding-bottom: 0;
  }

  th {
    border-bottom: $border-width solid $border-color;
    white-space: nowrap;

    svg {
      height: 0.6rem;
      width: 0.6rem;
      color: currentColor;
      margin-left: 0.8rem;

      &.sorted {
        transform: rotate(180deg);
      }
    }
  }

  tr.deactivated td {
    color: $gray-color;
    font-style: italic;
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tbody > tr > td {
    .btn {
      border: 0;
    }

    svg {
      margin-right: 0;
      color: $dark-color;
    }
  }

  .form-checkbox {
    padding: 0;
  }

  .btn {
    font-size: .7rem;
  }

  &.sortable-table {
    thead > th {
      cursor: pointer;
    }

    svg {
      vertical-align: middle;
      opacity: 0;

      &.show { opacity: 1; }
    }
  }
}
