// Tables
.table {
  border-radius: $border-radius;
  font-size: 0.7rem;

  .w-cell-user {
    width: 140px;
  }

  .w-cell-kind {
    width: 77px;
  }

  .w-cell-date {
    width: 93px;
  }

  .w-cell-status {
    white-space: nowrap;
  }

  .w-cell-admin {
    width: 100px;
  }

  .w-cell-reason {
    width: 180px;
  }

  .w-cell-action {
    width: 92px;
  }

  &.table-scroll {
    padding-bottom: 0;
  }

  th {
    border-bottom: $border-width solid $border-color;
    white-space: nowrap;

    svg {
      color: currentColor;
      height: 0.6rem;
      margin-left: 0.8rem;
      width: 0.6rem;

      &.sorted {
        transform: rotate(180deg);
      }
    }
  }

  tr.deactivated td {
    color: $gray-color;
    font-style: italic;
  }

  tr.is-holiday {
    background-color: rgba($notice-color-light, 0.3);

    td:first-child {
      color: rgba($notice-color, 0.7);
    }
  }

  tr.is-breakday {
    background-color: rgba($gray-color-light, 0.4);

    td:first-child {
      color: $gray-color-crayzola;
    }
  }

  tr:last-child td {
    border-bottom: 0;
  }

  tbody > tr > td {
    .btn {
      border: 0;
    }

    svg {
      color: $dark-color;
      margin-right: 0;
    }
  }

  .form-checkbox {
    padding: 0;
  }

  .btn {
    font-size: 0.7rem;
  }

  &.sortable-table {
    thead > th {
      cursor: pointer;
    }

    svg {
      opacity: 0;
      vertical-align: middle;

      &.show { opacity: 1; }
    }
  }

  &.table-bordered {
    box-shadow: 0 1px 6px 0 rgba($black-color, 0.1);
    z-index: 1;

    th + th,
    td + td {
      border-left: $border-width solid $border-color;
      height: 2.4rem;
      padding: 0 0.9rem;
      text-align: center;
      width: 7rem;
    }

    th:first-child,
    td:first-child {
      font-weight: 700;
      width: 10.4rem;
    }

    thead th {
      background-color: $light-color;
      box-shadow: $border-width $border-width $border-color;
    }

    td.is-overflow span {
      display: block;
      margin: 0 auto;
      max-width: 5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.has-fixed-head {
    position: relative;

    thead th {
      position: sticky;
      top: 0;
      z-index: 1;
    }
  }
}
