.tile {
  &.tile-activity {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .tile-title {
      text-overflow: initial;
      white-space: nowrap;
      font-size: $font-size-sm;
    }

    .tile-subtitle {
      font-size: $font-size-xs;
      color: $gray-color;
    }
  }
}
