.tile {
  &.tile-activity {
    .tile-title {
      font-size: $font-size-sm;
      text-overflow: initial;
      white-space: nowrap;
    }

    .tile-subtitle {
      color: $gray-color;
      font-size: $font-size-xs;
    }
  }
}
