// Toasts
.toast {
  position: relative;

  svg {
    position: absolute;
    width: .6rem;
    height: .6rem;
    top: .6rem;
    right: .4rem;
    color: $light-color;
    cursor: pointer;
  }

  &.toast-flash {
    position: fixed;
    z-index: $zindex-1;
    top: 80px;
    border-radius: 0;
  }
}
