// Toasts

@mixin custom-toast-variant($text-color, $bg-color) {
  @include toast-variant($bg-color)
    color: $text-color;
}

.toast {
  position: relative;
  font-size: $font-size-sm;
  font-weight: 500;

  svg {
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    top: 0.6rem;
    right: 0.4rem;
    color: $light-color;
    cursor: pointer;
  }

  &.toast-flash {
    position: fixed;
    z-index: $zindex-1;
    top: 80px;
    border-radius: 0;
  }

  .btn-clear {
    margin-top: 1px;
  }

  &.toast-primary {
    @include custom-toast-variant($primary-color, $light-color);
  }

  &.toast-success {
    @include custom-toast-variant($success-color, $success-color-light);
  }

  &.toast-warning {
    @include custom-toast-variant($warning-color, $warning-color-light);
  }

  &.toast-error {
    @include custom-toast-variant($error-color, $error-color-light);
  }
}
