// Toasts
.toast {
  position: relative;
  height: 1.6rem;
  padding: .4rem;
  line-height: 1;

  svg {
    position: absolute;
    width: .4rem;
    height: .4rem;
    top: .6rem;
    right: .4rem;
    color: $light-color;
  }
}
