// Typography
// Headings
h1,
.h1 {
  font-size: 2rem;
  line-height: 1.2;
}
h2,
.h2 {
  font-size: 1.6rem;
  line-height: 1.25;
}
h3,
.h3 {
  font-size: 1.2rem;
  line-height: 1.3334;
}
h4,
.h4 {
  font-size: .8rem;
  line-height: 1.5;
}
h5,
.h5 {
  font-size: .8rem;
  line-height: 1.5;
}
h6,
.h6 {
  font-size: .8rem;
}

p, .paragraph {
  font-size: 0.7rem;
  line-height: 1.58;
}
