.bg-light {
  background-color: $light-color;
  color: $dark-color;
}

.text-dark {
  color: $dark-color;
}

.text-bold-600 {
  font-weight: 600;
}

.text-bold-700 {
  font-weight: 700;
}

.border-bottom {
  border-bottom: 1px solid $border-color-dark;
  padding-bottom: 0.3rem;
}

.circle {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
}

.img-profile {
  max-height: 130px;
}

.hidden-overflow {
  overflow: hidden;
}

.avatar.avatar-lg {
  background: transparent;

  svg {
    height: 2.4rem;
    width: 2.4rem;
  }
}

.loading::after {
  display: none;
}

.text-lg {
  font-size: $font-size-lg;
}

.triangle-top {
  &::before {
    background: $light-color;
    box-shadow: -1px -1px 1px -1px rgba(0, 0, 0, 0.2);
    content: '';
    height: 0.8rem;
    position: absolute;
    right: 0.8rem;
    top: -0.35rem;
    transform: rotate(45deg);
    width: 0.8rem;
  }
}

.w-full {
  width: 100%;
}

.z-index-10 {
  position: relative;
  z-index: 10;
}

@include margin-variant(4, $unit-4); //Margin variant .8rem
@include margin-variant(10, $unit-10); //Margin variant 2rem
@include padding-variant(4, $unit-4); //Padding variation .8rem
@include margin-variant(5, $unit-5); //Margin variant 1rem
@include padding-variant(5, $unit-5); //Padding variation 1rem

// overwrite background color
@include bg-color-variant('.bg-primary', $secondary-color);
@include bg-color-variant('.bg-gray', $gray-color-lightest);
@include bg-color-variant('.bg-success', $success-color-light);
@include bg-color-variant('.bg-warning', $warning-color-light);
@include bg-color-variant('.bg-error', $error-color-light);
@include bg-color-variant('.bg-info', $info-color-light);
@include bg-color-variant('.bg-notice', $notice-color-light);

// overwrite text color
@include text-color-variant('.text-secondary', $gray-color-dark);
@include text-color-variant('.text-gray', $gray-color);
@include text-color-variant('.text-success', $success-color);
@include text-color-variant('.text-warning', $warning-color);
@include text-color-variant('.text-error', $error-color);
@include text-color-variant('.text-info', $info-color);
@include text-color-variant('.text-notice', $notice-color);
