<% content_for(:header) do %>
<%= render 'shared/header' %>
<% end %>

<div id="main" class="main pb-80">
  <div class="container">
    <div class="columns">
      <div class="column col-6 col-xs-10 col-mx-auto">
        <img class="error-img" src="<%= asset_url('403.png') %>" alt="403 image">
      </div>
      <div class="column col-10 col-mx-auto">
        <div class="error-content text-center">
          <h2 class="error-content-title">Well, we’re not going anywhere today, Captain!</h2>
          <h4 class="error-content-subtitle">You don’t have permission to access this page.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
