<% content_for(:header) do %>
<%= render 'shared/header' %>
<% end %>

<div class="main pt-40 pb-80">
  <div class="container text-center">
    <img class="img-error" src="<%= asset_url('403.png') %>" alt="403 image">
    <h2>Well, we’re not going anywhere today, Captain!</h2>
    <h4>You don’t have permission to access this page.</h4>
  </div>
</div>
