default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch('RAILS_MAX_THREADS') { 5 } %>
  username: minh
  password:

development:
  <<: *default
  database: 1punch_development

test:
  <<: *default
  username: punch
  database: 1punch_test

staging:
  <<: *default
  database: 1punch_staging
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  connect_timeout: 1
  checkout_timeout: 5
  variables:
    statement_timeout: 5000

production:
  <<: *default
  database: 1punch_production
  username: <%= ENV['DATABASE_USER'] %>
  password: <%= ENV['DATABASE_PASSWORD'] %>
  connect_timeout: 1
  checkout_timeout: 5
  variables:
    statement_timeout: 5000
