# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: bd019da8beda341fd7b22f4960e2be2aac3794b6ca8e9dc9eec7ed61fd44329ab6945cc48ad425ac61e0970a627b8ddf9e589920db8b818775dfabb19456f76c

test:
  secret_key_base: 1ac82eb56ed527e18157d6715c884af9765058b2f6bd09b5986b901aee8c6bc78e004ccaac82430dd0c3edab4d35928991195040456bdd3eaf508b5f09912357

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
