body {
  font-family: $base-font-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $color-darker;
}

a {
  color: $primary-color;
  font-size: $font-size-lg;

  &:focus,
  &:hover,
  &:active {
    color: $primary-color;
    text-decoration: none;
    box-shadow: none;
  }
}
