.btn {
  font-size: $font-size-lg;
  padding: .5rem 1.2rem;
  height: auto;
  background: $primary-color;
  border: $primary-color;
  color: $light-color;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    background: $primary-color;
    border: $primary-color;
    color: $light-color;
  }

  &.btn-primary {
    &:hover,
    &:active,
    &:focus {
      border: .05rem solid $light-color;
      background: $light-color;
      color: $primary-color;
    }
  }
}
