.btn {
  font-size: $font-size-lg;
  padding: .5rem 1.2rem;
  height: auto;
  background: $primary-color;
  border: $primary-color;
  color: $light-color;
  outline: 0;

  &:hover,
  &:active,
  &:focus,
  &:visited {
    background: $primary-color;
    border: $primary-color;
    color: $light-color;
  }

  &.btn-primary {
    &:hover,
    &:active,
    &:focus {
      border: .05rem solid $light-color;
      background: $light-color;
      color: $primary-color;
    }
  }

  &.btn-get-started {
    border: 0;
    border-radius: .2rem;
    background-color: $light-color;
    color: $primary-color;
    font-size: $font-size-lg;
    font-weight: 600;

    @include respond-to-xs-mobile() {
      width: 100%;
      .navbar-utilities &.btn-get-started {
        width: inherit;
      }
    }

    @include respond-to-pc() {
      &:hover,
      &:active,
      &:focus {
        background: $primary-color;
        color: $light-color;
      }
    }
  }

  &.btn-signin {
    border-radius: .2rem;
  }
}

.btn-link {
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

#btn-open-modal {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &:hover {
    box-shadow: 0 .1rem .2rem 0 rgba(0, 0, 0, 0.5);

    svg {
      color: $color-true-blue;
    }
  }

  svg {
    color: $color-blue-ribbon;
  }
}
