.card {
  background-color: $color-blue-lightest;
  padding: 2rem 1.6rem;
  margin-bottom: 1.6rem;

  .card-header {
    font-weight: 700;
    margin: 2rem 0 .8rem;
  }

  .card-body {
    font-size: $font-size-lg;
    margin-bottom: .6rem;
    color: $color-dark-lightest;
  }

  &.card-comment {
    width: calc(33.3333% - .8rem);
    background: $light-color;
    box-shadow: 0 .25rem 1.5rem 0 rgba(0, 0, 0, .05);
    border-radius: .2rem;
    padding: 1.2rem 1.6rem;
    margin-bottom: 0;

    .card-header {
      margin-top: 0;
    }

    .card-body {
      color: $color-darker;
    }
  }

  &.card-center {
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include respond-to-mobile() {
      padding-top: 1.2rem;
      padding-bottom: 1.2rem;
    }
  }
}
