.document {
  background: $color-gray-lightest;

  .document-container {
    max-width: 35rem;
    margin: 0 auto;
    padding: 3.2rem 0;

    @include respond-to-mobile() {
      width: 100%;
      padding-left: .8rem;
      padding-right: .8rem;
    }
  }

  h1,
  h3,
  h4,
  ol,
  li {
    margin: 0;
  }

  h1 {
    padding: 2.4rem .8rem;
    color: $dark-color;
    background-color: $light-color;
    text-align: center;
  }

  h3 {
    padding: 1.6rem 2.4rem 0;
    color: $dark-color;
    background-color: $color-gray-lightest;
    text-align: center;
  }

  h4 {
    color: $primary-color;
    font-weight: bold;
    position: absolute;
    top: -1.1rem;
    left: auto;
  }

  p,
  li {
    font-weight: 400;
    font-size: $font-size-lg;
  }

  p {
    + ul {
      margin-top: 1.2rem;
      margin-left: 1.6rem;
    }
  }

  ul {
    margin: 0 0 0 .8rem;
    list-style: disc;

    li {
      &:not(:first-child) {
        margin-top: .8rem;
      }
    }
  }

  ol > li {
    font-weight: bold;

    &:not(:last-child) {
      div:before {
        content: '';
        width: .05rem;
        height: calc(100% - 1.6rem);
        border: .05rem solid $border-color;
        position: absolute;
        left: .2rem;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:last-child {
      div {
        padding-bottom: 0;
      }
    }

    div {
      position: relative;
      padding: 1.2rem 0 4rem 2rem;
    }
  }

  &.privacy {
    ol {
      list-style: none;
    }

    ol > li {
      border-bottom: .05rem solid $border-color;

      &:not(:first-child) {
        margin-top: 3.2rem;
      }

      &:last-child {
        border-bottom: 0;

        div {
          padding-bottom: 0;
        }
      }

      div {
        padding-left: 0;
        padding-bottom: 2rem;

        &:before {
          display: none;
        }
      }
    }
  }

  table {
    padding: 0.8rem;
    background-color: $light-color;
  }

  td {
    font-weight: 400;
  }

  th {
    width: 150px;
  }

  @include respond-to-mobile(){
    td,th {
      display: block;
      width: 100%;
    }
    td {
      padding-bottom: 0.8rem;
    }
  };
}
