.input-group {
  .form-input {
    &.input-lg {
      height: 2.4rem;
      background: transparent;
      border-radius: .2rem;
      border: .05rem solid $light-color;
      color: $light-color;
      font-size: $font-size-lg;

      &:hover {
        border: .05rem solid $light-color;
      }

      &:focus {
        box-shadow: none;
      }

      &::placeholder {
        color: $light-color;
        font-style: italic;
      }
    }
  }

  .btn-lg {
    height: 2.4rem;
    border-radius: .2rem;
    border: .05rem solid $light-color;
    background-color: $light-color;
    color: $primary-color;
    font-size: $font-size-lg;
  }
}
