.main {
  margin-top: 3.2rem;

  &-mt-0 {
    margin-top: 0;
  }
}
.container {
  padding-left: .8rem;
  padding-right: .8rem;

  @media (min-width: 1280px) {
    width: 64rem;
  }
}

.columns {
  margin-left: -.8rem;
  margin-right: -.8rem;
}

.column {
  padding-left: .8rem;
  padding-right: .8rem;
}
