.modal-wrapper {
  @include flexbox-content(center);
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 200;
  display: none;

  &.is-active {
    display: flex;
  }
}

.modal {
  width: 80%;
  max-width: 1000px;
  position: relative;
  background: asset-url('img_logo.png') $light-color center / 25% no-repeat;

  .modal-body {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }

  .modal-close {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    border-radius: 50%;
    top: -1.6rem;
    right: -3.2rem;
    background-color: $light-color;

    &:hover {
      background-color: $color-blue-ribbon;

      svg {
        color: $light-color;
      }
    }

    @include respond-to-mobile() {
      width: 1.2rem;
      height: 1.2rem;
      top: -1.2rem;
      right: -1.6rem;
    }

    svg {
      vertical-align: middle;
    }
  }
}
