h1,
h2,
h3,
h4,
h5 {
  color: $color-darker;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  line-height: 1.2;
}

h2 {
  line-height: 1.25;
}

h3 {
  font-size: 1.2rem;
  line-height: 1.33;
}

h4,
h5 {
  font-size: .8rem;
  line-height: 1.5;
}

h5 {
  font-weight: 300;
}
