.bg-linear-blue {
  position: relative;
  background: linear-gradient(45deg, $primary-color-dark 0%, $primary-color 100%);

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: asset-url('img_pattern.png');
    background-repeat: repeat;
    background-size: .2rem .2rem;
    background-position: center center;
    z-index: 3;
  }
}

.text-blue {
  color: $primary-color;
}

.bg-linear-gray {
  background: linear-gradient(180deg, $light-color 0%, $color-gray-lightest 100%);
}

.bg-white {
  background-color: $light-color;
}

.bg-gray {
  background: $color-gray-lightest;
}

.section-mh {
  height: calc(100vh - 4.8rem);
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    color: $light-color;
    z-index: 4;
  }
}

.section-title {
  margin-bottom: 3.2rem;
  text-align: center;

  @include respond-to-mobile {
    margin-bottom: 2rem;
  }
}

.pb-80 {
  padding-bottom: 4rem;
}

.mt-40 {
  margin-top: 2rem;
}

.pt-40 {
  padding-top: 2rem;
}

.img-error {
  width: 600px;
  max-width: 100%;
  margin-bottom: 1rem;
}
