.error-img {
  margin-top: 2.4rem;
  width: 100%;
}

.error-content {
  margin-top: 2.4rem;

  &-title {
    margin: 0;
    font-size: 1.6rem;
    color: #363636;
  }

  &-subtitle {
    margin: 0.8rem 0;
    font-size: 0.8rem;
    color: #6c777e;
  }
}
