<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1">

<title>Punch</title>
<meta name="title" content="Punch">
<meta name="description" content="">
<meta property="og:title" content="Punch">
<meta property="og:site_name" content="">
<meta property="og:description" content="">
<meta property="og:url" content="">
<meta property="og:image" content="">
<meta property="og:type" content="website">

<link rel="stylesheet" href="/css/main.css">
<%= csrf_meta_tag %>
</head>

<body>
<%= yield %>
</body>

</html>
